body {
    background-color: white;
}

.modify {
    margin-top: 30px;
    margin-left: 250px;
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.complete {
    position: absolute;
    top: calc(50% + 300px);
    left: calc(50% + 180px);
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.back {
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: 20px;
    margin-top: 20px;
}

#container {
    width: 550px;
    height: 800px;
    border-radius: 0px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    border-top: 4px solid #35394a;
    background: #1e202b;
    top: calc(50% - 400px);
    left: calc(50% - 275px);
    animation: smoothAppear 1s forwards;
}

@keyframes smoothAppear {
    from {
        opacity: 0%;
        transform: translateY(-5%);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes smoothDisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

Footer #send {
    display: none;
    width: 550px;
    height: 800px;
    border-radius: 0px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    border-top: 4px solid #35394a;
    background: #1e202b;
    top: calc(50% - 400px);
    left: calc(50% - 275px);
}
#revision {
    display: none;
    width: 550px;
    height: 800px;
    border-radius: 0px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    border-top: 4px solid #35394a;
    background: #1e202b;
    top: calc(50% - 400px);
    left: calc(50% - 275px);
}
#header {
    background: #35394a;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: 400ms ease-out;
    animation: headerAppear 1s forwards;
}

@keyframes headerAppear {
    from {
    }
    to {
        height: 20%;
    }
}

#contInput {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    transition: 150ms cubic-bezier(0, 2.15, 0.97, 0.36);
    transition-delay: 500ms;
    animation: contInputAppear 1s forwards;
}

@keyframes contInputAppear {
    from {
    }
    to {
        padding-left: 25px;
        padding-right: 25px;
    }
}

#input_group {
    width: 100%;
    height: 50px;
    background: #1b1b1d;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    top: 320px;
    overflow: hidden;
    transition: top 350ms ease-in-out;
    animation: inputGroupAppear 1s forwards;
}

@keyframes inputGroupAppear {
    from {
    }
    to {
        top: 70px;
    }
}

#barcode {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    background: #1b1b1d;
    color: #ccc;
}

#icon_src {
    position: absolute;
    top: 11px;
    right: -30px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    outline: none;
    transition: 150ms cubic-bezier(0.53, 0.88, 0.72, 1.26);
    transition-delay: 500ms;
}

#icon_src.focus {
    right: 10px !important;
    color: #999 !important;
}

#logo {
    position: absolute;
    top: 230px;
    z-index: 2;
    left: 30px;
    transition: 300ms cubic-bezier(0.96, 1.11, 0.86, 1.13);
    transition-delay: 150ms;
    animation: logoAppear 1s forwards;
}

@keyframes logoAppear {
    from {
    }
    to {
        top: 17px;
        transform: scale(0.6);
    }
}

#logo.focus {
    top: 17px;
    transform: scale(0.6);
    transition-delay: 0ms;
}

#logo p {
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    font-size: 35px;
    margin: 0;
}

#logo p span {
    font-weight: 100;
    font-style: italic;
}

#results {
    height: 520px;
    position: absolute;
    left: 25px;
    top: 165px;
    width: 500px !important;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    opacity: 1;
    transition: 100ms ease-in;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#results::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#results li {
    display: table-row;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    transition: 200ms ease-in;
}

#results li:first-child {
    padding-top: 10px;
    border-radius: 3px 3px 0 0;
}

#results li:last-child {
    padding-bottom: 10px;
    border-radius: 0 0 3px 3px;
}

#results li {
    color: #999;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 20px;
}

#results li {
    color: white;
}

#results.visible {
    opacity: 1 !important;
}

article {
    width: 560px;
    position: absolute;
    top: calc(50% - 100px);
    right: calc(50% - 900px);
    margin: 50px auto;
    padding: 26px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: text-top;
    animation: articleAppear 1s forwards;
}

@keyframes articleAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
button {
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.ico_arrow {
    width: 80px;
    height: 80px;
    position: relative;
    text-indent: -9999px;
}
.ico_arrow:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    transform: translate(-50%, -50%) rotate(135deg);
}
.ico_arrow:after {
    content: "";
    width: 42px;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: #000;
}
#check {
    position: absolute;
    left: 25px;
    top: 135px;
    width: 500px !important;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    transition: 100ms ease-in;
}

#check li {
    padding: 5px 10px 5px 10px;
    transition: 200ms ease-in;
}

#check li:first-child {
    padding-top: 10px;
    border-radius: 3px 3px 0 0;
}

#check li:last-child {
    padding-bottom: 10px;
    border-radius: 0 0 3px 3px;
}

#check li {
    color: #999;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 20px;
}

#check li {
    color: white;
}

#check.visible {
    opacity: 1 !important;
}
#modify {
    position: absolute;
    left: 25px;
    top: 135px;
    width: 300px !important;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    transition: 100ms ease-in;
}

#modify li {
    padding: 5px 10px 5px 10px;
    transition: 200ms ease-in;
}

#modify li:first-child {
    padding-top: 10px;
    border-radius: 3px 3px 0 0;
}

#modify li:last-child {
    padding-bottom: 10px;
    border-radius: 0 0 3px 3px;
}

#modify li {
    color: #999;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 20px;
}

#modify li {
    color: white;
}

#modify.visible {
    opacity: 1 !important;
}
